{
  "Parameters": {
    "DISCORD_GO_LIVE_WEBHOOK": "",
    "DISCORD_GO_LIVE_MESSAGE": "",
    "TWITCH_HMAC_SECRET": "",
    "SSMKeys": {
      "DISCORD_GO_LIVE_WEBHOOK": "/sam/twitch-notifier/go-live/webhook",
      "DISCORD_GO_LIVE_MESSAGE": "/sam/twitch-notifier/go-live/message",
      "TWITCH_HMAC_SECRET": "/sam/twitch-notifier/twitch-hmac-secret"
    }
  }
}
